@charset "utf-8";

body{background:  #f3f3f3; }
.join_body .content_w{background: url("../vipimg/banner3.png") no-repeat center top;background-size:100%;height: 100%;margin-bottom: 60px;}

.join_VIP_main1{padding-top: 10px;}
.join_VIP_main1 .slideBox{ position:relative; overflow:hidden; margin:0 auto;}
.join_VIP_main1 .slideBox .hd{ position:absolute; height:16px; line-height:16px; bottom:0; left:50%; margin-left:-30px; z-index:1; }
.join_VIP_main1 .slideBox .hd li{ display:inline-block; width:10px; height:10px; background: #999999; text-indent:-9999px; overflow:hidden; margin:0 3px;border-radius: 50%;}
.join_VIP_main1 .slideBox .hd li.on{ background: #b09a79;}
.join_VIP_main1 .slideBox .bd{ position:relative; z-index:0; }
.join_VIP_main1 .slideBox .bd li{ position:relative; text-align:center;}
.join_VIP_main1 .slideBox .bd li{ background:url(../vipimg/loading.gif) center center no-repeat;  vertical-align:top;height: 270px;}
.jVm1_con{width: 100%;height: 240px;margin: 0 auto;background: #fff;overflow: hidden;}
.jVm1_con_head{height: 40px;background: #fff;line-height: 40px;text-align: left;font-weight: bold;padding-left: 15px;}
.jVm1_con_head span{font-size: 15px;}

.jVm1_con_main{background: url("../vipimg/VIP_img2.png") no-repeat center center;background-size:100% 100%; height: 160px;width: 100%;position: relative;}
.jVm1_con_main_bg{position: absolute;z-index: 10;width: 100%;height: 100%;}
.jVm1_con_main_bg img{width: 100%;height: 100%;}
.jVm1_con_main_son{width: 70%;height: 120px;position: absolute;top:20px;left: 15%;box-shadow:  0 0 15px #b09a79;border-radius: 5px;}
.jVm1_con_main_son_bg{position: absolute;z-index: 10;width: 100%;height: 100%;}
.jVm1cms_text{position: absolute;z-index: 20;width: 100%;height: 100%;}
.jVm1_con_main_son_bg img{width: 100%;height: 100%;}
.jVm1_con_main_son h1{font-size: 20px;color: #b09a79;line-height: 40px;margin-top: 20px;}
.jVm1_con_main_son h2{font-size: 14px;color: #b09a79;line-height: 25px;}
.jVm1_con_main_son h2 span{font-size: 18px;font-weight: bold;}

.jVm1_con_foot{height: 40px;line-height: 40px;text-align: center;}
.jVm1_con_foot a{font-size: 14px;color: #b09a79;}


/*join_VIP_main2*/
.join_VIP_main2{padding: 10px 0;background: #fff;}
.join_VIP_main2 img{width: 100%;}


/*join_foot*/
.join_foot{position: fixed;width: 100%;height: 50px;background: #fff;left: 0;bottom: 0;padding: 6px 0;}
.join_foot li{width: 20%;float: left;text-align: center;}
.join_foot li a{display: block;}
.join_foot li p{font-size: 14px;color: #666;line-height: 24px;}
.join_foot li i{font-size: 20px;color: #999;}
.join_foot li.on p,.join_foot li.on i{color: #55a5fc;}


